In [1]:
import pandas as pd

#### Read data from file

In [2]:
df = pd.read_csv('adult.data.csv')
df.head(3)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 2.6+ MB

##### How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [5]:
race_count = df.race.value_counts()
print("Number of each race:\n", race_count)

Number of each race:
 White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

#### What is the average age of men?

In [6]:
average_age_men = df[df["sex"] == "Male"]["age"].mean().__round__(1)
print("Average age of men:", average_age_men)

Average age of men: 39.4

##### What is the percentage of people who have a Bachelor's degree?

In [7]:
percentage_bachelors = ((df[df['education'] =='Bachelors'].education.count()) / df.shape[0] * 100).round(1)
print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")

Percentage with Bachelors degrees: 16.4%

##### What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
     What percentage of people without advanced education make more than 50K?

#### with and without 'Bachelors', 'Masters', or 'Doctorate'

In [8]:
higher_education = df[df.education.isin(['Bachelors', 'Masters', 'Doctorate'])]
lower_education = df[~df.education.isin(['Bachelors', 'Masters', 'Doctorate'])]

#### percentage with salary >50K

In [9]:
df_n = higher_education[higher_education['salary'] == '>50K']
higher_education_rich = round((df_n.salary.count()) / higher_education.shape[0] * 100,1)
print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")

Percentage with higher education that earn >50K: 46.5%

In [10]:
df_n2 = lower_education[lower_education['salary'] == '>50K']
lower_education_rich = round(df_n2.salary.count() / lower_education.shape[0] * 100,1)
print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")

Percentage without higher education that earn >50K: 17.4%

#### What is the minimum number of hours a person works per week (hours-per-week feature)?

In [11]:
min_work_hours = df['hours-per-week'].min()
print(f"Min work time: {min_work_hours} hours/week")

Min work time: 1 hours/week

#### What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [14]:
num_min_workers = df[df['hours-per-week'] == min_work_hours]
rich_percentage = round(num_min_workers[num_min_workers['salary'] == '>50K'].shape[0] / num_min_workers.shape[0] * 100,1)
print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")

Percentage of rich among those who work fewest hours: 10.0%

##### What country has the highest percentage of people that earn >50K?

In [16]:
highest_earning_country = (df[df['salary'] == '>50K']['native-country'].value_counts()/ df['native-country'].value_counts() * 100).idxmax()
print("Country with highest percentage of rich:", highest_earning_country)

Country with highest percentage of rich: Iran

In [17]:
highest_earning_country_percentage = round((df[df['salary'] == '>50K']['native-country'].value_counts() / df['native-country'].value_counts() * 100).max(),1)
print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")

Highest percentage of rich people in country: 41.9%

#### Identify the most popular occupation for those who earn >50K in India.

In [18]:
top_IN_occupation = df[(df['salary'] =='>50K') & (df['native-country']\
     == 'India')].groupby('occupation').occupation.count().idxmax()
print("Top occupations in India:", top_IN_occupation)

Top occupations in India: Prof-specialty

https://replit.com/@ahmednassar77/boilerplate-demographic-data-analyzer-1#demographic_data_analyzer.py